<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test">
<classes>
<class name="com.atmecs.demo_blaze.SignUpTest"/>
<class name="com.atmecs.demo_blaze.LogInTest"/>
<class name="com.atmecs.demo_blaze.ContactTest"/>
<class name="com.atmecs.demo_blaze.AddToCartTest"/>
<class name="com.atmecs.demo_blaze.ValidateCartTest"/>
</classes>
</test>
</suite>